body, html {
	margin: 0;
	padding: 0;
}

body {
	background-color: #345;
}

#container, #search {
	transition-duration: 0.5s;
}

#container {
	position: relative;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
	padding: 10px;
}

#search {
	height: 10vh;
	width: 30vw;
	border-radius: 2px;
	border: 3px solid black;
	font-size: 6vh;
	min-height: 30px;
	max-height: 100px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	background-color: transparent;
	color: white;
	outline: none;
	margin: 10px;
}

#container p {
	width: 40vw;
}

p {
	width: 70vw;
	color: #DDD;
	margin: 10px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin: 10px auto;
}

a {
	text-decoration: none;
	color: inherit;
}

#results p {
	color: #222;
	font-size: 16px;
	border-radius: 5px;
	border: 2px solid #BBB;
	background-color: #CCC;
	padding: 15px 10px;
	margin: 10px auto;
	position: relative;
}

h4 {
	margin: 10px;
}